#content{
  padding: 10px 0 100px;
  > div{
	background: white;
	padding: 3px 20px;
  }
  .content_bottom-sharing{
	margin-top: 40px;
	text-align: right;
	> span{
	  font-style: italic;
	  padding-bottom: 4px;
	  display: inline-block;
	  color: grey;
	  font-size: 14px;
	}
  }
}