footer{
  //background: url("/_assets/_santa/_images/bg/bg_footer.jpg") repeat-x left top transparent;
  //height: 350px;
  //padding: 40px 18px;
  position: relative;

  .footer-copyright{
	position: absolute;
	top: 210px;
	right: 255px;
	@media (max-width: 1380px){
	  right: 225px;
	}
	@media (max-width: 1230px){
	  right: 175px;
	}
	@media (max-width: 1115px){
	  right: 125px;
	}
	@media (max-width: 1090px){
	  right: 75px;
	}
	a{
	  color: black;
	  font-size: 12px;
	}
  }
  .footer-left-text{
	line-height: 41px;
	font-size: 21px;
	z-index: 7;
	position: relative;
	top: 3px;
	left: 0;
	width: 600px;
  }

  section.row-profits{
	font-size: 14px;
	line-height: 21px;
	background: #BF3030;

	.fi{
	  font-size: 100px;
	  float: left;
	  margin-right: 15px;
	  margin-bottom: 30px;
	  @media (max-width: 768px) {
		float: none;
		display: block;
	  }
	}
  }

  section.row-profits,
  section.row-sposob{
	color: white;
	padding-top: 30px;
	@media (max-width: 768px) {
	  padding-bottom: 30px;
	}
	.h1{
	  font-weight: 600;
	  margin-bottom: 30px;
	  margin-top: 3px;
	  @media (max-width: 500px) {
		font-size: 22px;
		margin-bottom: 20px;
	  }
	}
	.h2{
	  display: inline-block;
	  margin-bottom: 3px;
	  margin-top: 0;
	}
	a{
	  color: white;
	  font-size: 16px;
	}
  }

  section.row-sposob{
	background: #85004B;

	.fi{
	  font-size: 64px;
	  float: left;
	  margin-right: 15px;
	  margin-bottom: 30px;
	}
	.h2{
	  font-size: 27px;
	  @media (max-width: 500px) {
		font-size: 24px;
	  }
	}
  }

  section.row-subscribes{
	background: #f4f4f4;
	padding-top: 30px;
	padding-bottom: 50px;
	@media (max-width: 500px) {
	  padding-bottom: 15px;
	}
	input{
	  height: 42px;
	}
	.h4{
	  font-size: 14px;
	  line-height: 20px;
	}
	.row-subscribes-item{
	  padding-bottom: 20px;
	}
	.input-group-btn-subscribe button{
	  @media (max-width: 500px) {
		width: 129px;
		overflow: hidden;
	  }
	}
  }

  section.row-licence{
	font-size: 12px;
    color: grey;
    font-style: italic;
    a{
      color: grey;
    }
  }

  .menu_footer{
	.nav>li>a{
	  padding: 3px 0;
	  &:hover,
	  &:focus{
		background: none;
		text-decoration: underline;
	  }
	}
  }
}