header{
  .header-logo{
	padding-top: 26px;
	padding-bottom: 20px;
	a{
	  text-decoration: none;
	}
	span{
	  display: inline-block;
	  padding-top: 46px;
	  color: black;
	  font-size: 34px;
      font-weight: 300;
	  @media (max-width: 990px) {
		display: none;
	  }
	}
  }
  @media (max-width: 500px) {
	background: white;
	.logo{
	  max-width: 150%;
	  width: 150%;
	  height: inherit;
	}
  }
  .header-address{
	padding-top: 40px;
	line-height: 30px;
	.city{
	  font-size: 25px;
	  line-height: 30px;
	}
	.phone{
	  text-decoration: none;
	  font-size: 37px;
	  font-weight: 600;
	  line-height: 43px;
	  display: inline-block;
	  margin-bottom: 5px;
	}
	.rejim{
	  font-size: 17px;
	  line-height: 20px;
	}
	@media (max-width: 500px) {
	  padding-top: 25px;
	  .city{
		font-size: 25px;
		line-height: 24px;
	  }
	  .phone{
		font-size: 25px;
	  }
	}
  }

  .menu_mobile{
	.btn.btn-primary{
	  background: white;
	  border-color: #d5d5d5;
	  color: black;
	}
  }

  .div-menu{
	margin-top: 10px;
	margin-bottom: 16px;
	text-align: center;
	color: $color_red;
	font-size: 19px;
	font-weight: 600;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 22%,rgba(255,255,255,1) 78%,rgba(241,241,241,1) 100%);

    li.dropdown:first-of-type{
      ul{
        width: 826px;
        li{
          width: 200px;
          display: inline-block;
        }
      }
    }

	.dropdown-menu>li>a{
	  padding: 8px 0;
	  font-size: 17px;
	  display: block;
	  text-decoration: none;
	  border-bottom: 1px solid #F4F4F4;
	  &:last-child{
		border-bottom: none;
	  }
	}
	a{
	  color: $color_red;
	  display: inline-block;
	  font-size: 18px;
	  &:hover,
	  &:focus{
		transition: all .2s linear;
		background: inherit;
		color: black;
	  }
	}
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	  background-color: $color_red;
	  color: white;
	  border-color: transparent;
	  text-decoration: none;
	}
	>ul{
	  margin: 0 auto;
	  text-align: center;
	  float: none;
	  display: inline-block;
	  li{
		ul.dropdown-menu{
		  background: #FCFCFC;
		  border-top: none;
		}
	  }
	}
	ul{
	  margin-bottom: 0;
	  li{
		padding: 0 16px;
		@media (max-width: 990px) {
		  padding: 0 1px;
		}
		&.active{
		  font-weight: 600;
		  a{
			text-decoration: none;
		  }
		}
	  }
	}
  }
}

body{
  @media (min-width: 650px) {
	.btn.btn-default.show-mobile-menu{
	  display: none;
	}
  }
  .menu_mobile{
	display: none;
  }
  &.mainpage {
	.btn.btn-default.show-mobile-menu{
	  display: none;
	}
	.menu_mobile {
	  display: block;
	}
  }
}