body.mainpage{
  .mainpage_tabs{
    display: block !important;
    @media (max-width: 550px) {
      padding-top: 20px;
    }
  }
}
.mainpage_tabs{
  padding-left: 0;
  padding-right: 1px;
  margin-left: 0;

  .tab-pane{
	background: white;
	padding: 10px 15px;
	margin-bottom: 10px;
	@media (max-width: 990px) {
	  margin-bottom: 10px;
	}
	border-radius: 0 5px 5px 5px;
  }

  .ili{
	display: inline-block;
	padding-top: 30px;
  }

  .form-searchTourShort,
  .form-siteSearch{
	margin-bottom: 0;
	@media (max-width: 990px) {
	  .form-group{
		margin-bottom: 0;
	  }
	}
	.btn-block{
	  margin-top: 22px;
	  @media (max-width: 990px) {
		margin-top: 15px;
	  }
	}
  }
  .nav-tabs{
	border-bottom: none;
	li{
      @media (max-width: 550px) {
        width: 50%;
      }
	  a{
		font-size: 17px;
		background: linear-gradient(180deg,#fff 0,#f1f1f1 22%,#fff 78%,#f1f1f1);
		margin-right: 4px;
		text-decoration: none;
		@media (max-width: 990px) {
		  font-size: 15px;
		  padding: 8px 10px;
		}
        @media (max-width: 550px) {
          text-align: center;
        }
	  }
	  &.active{
		a{
		  background: #fff;
		  font-weight: 600;
		}
	  }
	}
  }
}