#right_colomn{
  //background: white;
  padding-left: 0;
  > div{
    padding-left: 0;
  }
  .block-banner{
	padding-top: 50px;
  }

  label{
	font-weight: 500;
	color: grey;
	font-style: italic;
  }
  .colomn-container{
	background: white;
	padding: 10px 15px;
	margin-bottom: 30px;
	border-radius: 5px;
  }

  .block-searchSiteTours{
	.block-searchSiteTours-item{
	  padding-bottom: 25px;
	}
	.block-title{
	  margin-bottom: 30px;
	}
  }
}