.pageBlogCategory{
  h1{
	margin-bottom: 30px;
  }
  .pageBlogCategory-item{
	margin-bottom: 60px;
	h4, .h4{
	  font-size: 23px;
	  margin-bottom: 10px;
	  display: inline-block;
	  margin-top: 0;
	}
  }
}