.page-catalog-category{
  .div-img{
    height: 153px;
    overflow: hidden;
  }
  .item-catalog{
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .cost{
	color: #646464;
	font-weight: 600;
	padding: 4px 5px;
	text-align: center;
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 0;
  }
  .vendor{
    font-style: italic;
    color: grey;
    font-size: 13px;
  }
  .link_block_this:hover,
  .link_block_this:focus{
    opacity: .7;
    transition: .3s linear all;
  }
}

.filter-item{
  label{
    font-weight: 500;
    color: grey;
  }
}

.CategoryInfoList{
  .h4{
	margin-bottom: 40px;
	text-align: center;
	img{
	  padding: 0 20px;
	  margin-bottom: 10px;
	}
  }
}