.page-catalog-category{
  .div-img{
    height: 160px;
    overflow: hidden;
  }
  .item-catalog{
    height: 360px;
    padding: 10px 20px;
  }
}

.filter-item{
  label{
    font-weight: 500;
    color: grey;
  }
}