.menu-items{
  border: 2px solid #F37137;
  box-sizing: border-box;
  margin-top: -1px;
  margin-left: -1px;
  padding-left: 0;
  padding-right: 0;
}

.modulePopular,
.moduleVendorPopular{
  .item-catalog{
    padding: 10px 15px;
    .all-width{
      margin-bottom: 10px;
      border-radius: 10px;
    }
  }
  .cost{
	text-align: center;
	font-size: 19px;
	line-height: 18px;
	padding-bottom: 3px;
  }
  .vendor{
    font-style: italic;
  }
}

.catalog-frontpage-content{
  padding: 7px 25px;
  @media (max-width: 1024px) {
	padding: 0;
  }
}

.mainpage-menus .nav-left .menu__wrap{
  top: 0;
}

.mainpage{
  .header-top_menu .block-categories:focus,
  .header-top_menu .block-categories:hover{
    background: #fd4e00;
    cursor: default;
  }
  .header-top_menu{
	.block-categories{
	  border-right: none;
	}
  }
}


.nav-left{
  border: 2px solid #F37137;
  box-sizing: border-box;
  margin-top: -1px;
  margin-left: -1px;
  padding-left: 0;
  padding-right: 0;
  width: 285px;
  @media (max-width: 1024px) {
	width: 100%;
	border: none;
  }

  position: relative;
  /* Menu styles */

  a{
    i{
      color: #aeaeae;
      padding-right: 7px;
      font-size: 0.9em;
    }
  }

  li.first-level{
	&.current{
	  a{
		color: white;
		font-weight: 600;
		background: #FD4E00;
	  }
	}
	a{
	  color: black;
	  font-size: 16px;
	  border-bottom: 1px dashed #f1f1f1;
	  font-weight: 600;
	  display: block;
	  padding: 9px 15px;
	  &:hover,
	  &:focus{
		background: #F37137;
		color: white;
	  }
	}
	&:hover,
	&:focus{
	  .list-parent{
		display: block;
		z-index: 2;
	  }
	}
  }
  li.second-level{
	padding-top: 10px;
	&:first-of-type{
	  padding-top: 0;
	}
	a{
	  color: white;
	  font-size: 18px;
	  &:hover,
	  &:focus{
		text-decoration: underline;
	  }
	}
  }
  li.third-level{
	a{
	  display: block;
	  color: white;
	  padding: 3px 8px 3px 0px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  &:hover,
	  &:focus{
		text-decoration: underline;
	  }
	}
  }

  .list-parent{
	position: absolute;
	left: 290px;
	background: #F37137;
	width: 854px;
	z-index: 1;
	margin-top: -42px;
	padding: 15px 20px;
	display: none;
	&:first-of-type{
	  //display: block;
	}
  }

  .list-parent2{
	padding-top: 10px;
	padding-bottom: 20px;
  }
}