.catalog-frontpage{
  .menu-items{
    border: 2px solid #F37137;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -1px;
    padding-left: 0;
    padding-right: 0;
    a{
      border-bottom: 1px dashed #f1f1f1;
      font-size: 14px;
      padding: 9px 15px;
      display: block;
      color: #404040;
      &:hover,
      &:focus{
        background: #F37137;
        color: white;
      }
      i{
        color: #aeaeae;
        padding-right: 7px;
        font-size: 0.9em;
      }
    }
  }
}

.modulePopular,
.moduleVendorPopular{
  .item-catalog{
    padding: 10px 15px;
  }
}

.catalog-frontpage-content{
  padding: 7px 25px;
}