.page-catalog-item{
  h1, .h1{
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 0;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
  }
  .cost{
    color: #FD4E00;
    font-size: 25px;
  }

  .list-vendor{
    li{
      display: block;
    }
  }
  .block-gallery{
    .LargeImg{
      padding-bottom: 20px;
    }
    .SmallImg{
      width: 32.5%;
      padding-bottom: 4px;
    }
  }
  .nav-tabs-description{
    a{
      font-size: 20px;
    }
  }
  .attributes-config-item{
    label{
      width: 120px;
      height: 65px;
      float: left;
    }
  }
}