.page-catalog-item{
  h1, .h1{
    font-weight: 300;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 0;
  }
  .cost{
	color: #fd4e00;
	font-size: 35px;
	display: block;
	margin-bottom: 5px;
	margin-top: 0;
	text-align: center;
  }
  .priceOld{
	color: grey;
	font-size: 20px;
  }
  .nalicie{
	margin-bottom: 20px;
  }
  .fa.fa-star{
	color: #fd4e00;
  }

  .list-vendor{
    li{
      display: block;
    }
  }
  .block-gallery{
    .LargeImg{
      padding-bottom: 20px;
    }
    .SmallImg{
	  width: 19.5%;
	  padding: 4px;
    }
  }
  .nav-tabs-description{
    a{
      font-size: 20px;
    }
  }
  .attributes-config-item{
    label{
      width: 120px;
      height: 65px;
      float: left;
    }
  }
  .row-vendorTovars{
	img{
	  margin-bottom: 12px;
	}
  }
  .fancybox img{
	display: inline-block !important;
  }
  .btn-default{
	border: 1px solid #E4E4E4;
	margin-bottom: 4px;
	&.active{
	  background: #FF9A6E;
	  border-color: transparent;
	}
  }
  .btn-danger{
	background-color: #FD4E00;
  }
  .glyphicon-heart{
	color: red;
  }
  .vendor{
	padding: 0 25px;
	border: 1px solid #f1f1f1;
  }
  .button_bg{
	background: #F5F5F5;
	padding: 20px 0;
  }
  .btn-lg{
	font-size: 16px;
	font-weight: 300;
  }
  .btn-info{
	font-weight: 300;
	border-color: #FD4E00;
	background: white;
	color: grey;
  }
}

.tabs{
  .nav-tabs>li{
	&.active a{
	  background: whitesmoke;
	}
	>a{
	  font-size: 21px;
	  padding: 8px 15px;
	}
  }
}
.tab-pane{
  > div{
	background: whitesmoke;
	padding-top: 20px;
  }
}

.block-otapi-review{
  .row-review{
	margin-bottom: 30px;
  }
  .review-images{
	padding-top: 15px;
  }
}

.soputka-page-item{
  padding-top: 30px;
}