footer{
  background: url("/_assets/_front/_images/bg/bg_footer.png") no-repeat left top transparent;
  height: 350px;
  padding: 40px 18px;
  position: relative;

  &:before{
	background: url("/_assets/_front/_images/bg/bg_footer_up.png") repeat-x left top transparent;
	height: 43px;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	top: -2px;
  }
  .footer-copyright{
	position: absolute;
	top: 210px;
	right: 255px;
	a{
	  color: black;
	  font-size: 12px;
	}
  }
  .footer-left-text{
	line-height: 41px;
	font-size: 21px;
	z-index: 7;
	position: relative;
	top: 3px;
	left: 0;
	width: 600px;
  }
}