header{
  background: url("/_assets/_front/_images/bg/bg_header.png") no-repeat left top transparent;
  height: 268px;
  padding: 0 18px;
  position: relative;

  .block-headerEmail{
	position: absolute;
	left: 450px;
	top: 20px;
  }
  .block-headerSlogan{
	position: absolute;
	top: 180px;
	font-style: italic;
	font-size: 25px;
  }
  .block-headerSearch{
	position: absolute;
	left: 450px;
	top: 50px;
	.form-search{
	  width: 250px;
	}
	.input-group .form-control:first-child{
	  border-radius: 4px;
	}
	.input-group-btn:last-child>.btn{
	  border-radius: 4px;
	}
	.input-group-btn{
	  left: 5px;
	}
  }
}

.icon-arrow-right-custom {
  background: url("/_assets/_front/_images/icons/icon_arrow_right.png") no-repeat 0 -5px transparent;
  width: 40px;
  height: 20px;
  display: block;
}