#right_colomn{
  background: url("/_assets/_front/_images/bg/rightColomn_center.png") repeat-y left top transparent;
  &:after{
	background: url("/_assets/_front/_images/bg/rightColomn_bottom.png") no-repeat left bottom transparent;
	width: 13px;
	height: 9px;
	content: '';
	display: block;
	bottom: -9px;
	left: -1px;
	position: absolute;
  }
  &:before{
	background: url("/_assets/_front/_images/bg/rightColomn_top.png") no-repeat left bottom transparent;
	width: 13px;
	height: 17px;
	content: '';
	display: block;
	top: -9px;
	left: 0;
	position: absolute;
  }
  .block-banner{
	padding-top: 50px;
  }
  .btn-to-form{
	margin-bottom: 15px;
  }
}