body{
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1024px){
  .container {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
  }
  .container-body > .row{
	margin-left: 0;
	margin-right: 0;
  }
  .mainpage-menus{
	padding-right: 0;
	padding-left: 0;
  }
}

.body-two-colomn{
  #content {
	margin-left: 0;
  }
  .block-breadcrumbs{
	margin-left: 5px;
	margin-top: 20px;
  }
  .colomn-left{
	padding-right: 0;
	> *{
	  padding-top: 28px;
	  border-right: 1px solid #e2e2e2;
	  background: #f7f7f7;
	}
  }
}

.strong{
  font-weight: 600;
}
.strong-heavy{
  font-weight: 700;
}
.color-grey{
  color: grey;
}
.pointer{
  cursor: pointer;
}
.btn{
  border-radius: 0;
}
.all-width{
  width: 100%;
  max-width: 100%;
}
.link_block, .link_block_this{
  cursor: pointer;
}

a{
  color: #FD4E00;
  &:hover,
  &:focus{
    color: #fd362d;
  }
}

.fa.fa-star{
  color: gold;
}

h1{
  font-family: 'Comfortaa', 'Open Sans', sans-serif;
  line-height: 1.2;
}

.please-select{
  border: 4px solid red;
  padding: 10px 15px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #FD4E00;
  border-color: #FD4E00;
  cursor: default;
}
.pagination>li>a, .pagination>li>span {
  color: #fd362d;
}

.block-breadcrumbs{
  padding: 10px 12px;
  background-color: transparent;
  height: 39px;

  .breadcrumb{
    display: inline-block;
    padding: 0;
    background: none;
    font-size: 18px;
    a{
	  color: #464646;
	  font-weight: 300;
	  text-decoration: none;
	  font-size: 18px;
	  &:hover, &:focus{
		color: black;
		text-decoration: underline;
	  }
    }
    li.active{
      font-weight: 300;
    }
    &>li+li:before {
      content: "/\00a0";
      padding: 0 5px;
      color: #E2C4BE;
      font-size: 13px;
    }
    .fa{
      color: cadetblue;
      padding-right: 5px;
    }
  }
}

.menu_hidden{
  position: absolute;
  z-index: 15;
  width: 290px;
  padding-left: 9px;
  background: white;
}

.menu-catalog{
  background: #fd782d;
  z-index: 10;
  position: relative;
  padding: 15px;
  display: none;
  li{
    height: 75px;
    padding-top: 15px;
    transition: .5s all linear;
    &:hover,
    &:focus{
      background: #fda21e;
      transition: .5s all linear;
    }
  }
  a{
    color: #ffffff;
    padding-left: 15px;
    display: inline-block;
    text-decoration: underline;
  }
}

.page_cart{
  .all-cost-cart{
    font-size: 25px;
  }
  .form-order{
    background: #383D40;
    color: #fff;
    padding: 3px 25px;
    label{
      font-weight: 400;
      font-style: italic;
    }
  }
  .table{
    tr td{
      padding-top: 15px;
    }
    .all-width{
      padding-right: 15px;
    }
    input.editQty{
      width: 79px;
      margin-left: 7px;
      margin-top: -6px;
    }
    .strong{
      font-size: 17px;
    }
    .strong-heavy{
      font-size: 20px;
    }
    .Qty-col{
      padding-top: 19px;
    }
  }
}

.nav>li>a{
  padding: 2px 15px;
}

/** TO TOP */
#toTop {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 64px;
  height: 64px;
  opacity: 0.4;
  background: url("/_assets/tbkhv/_images/icon_up.png") no-repeat center top;
  z-index: 10;
}


@import "sections/header";
@import "sections/footer";
@import "catalog/item";
@import "catalog/category";
@import "catalog/frontpage";
@import "icons/icons";