.breadcrumb{
  padding: 0;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5{
	display: inline-block;
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
  }
  h1, .h1{
	font-size: 29px;
	margin-top: 5px;
  }
  a{
	color: #c72800;
	font-size: 17px;
  }
  li:last-of-type{
	display: inline;
  }
  >li+li:before {
	padding: 0 2px;
  }
}