/* STYLES MODULE */
.blockForecast{
  background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
  box-shadow: 0px 2px 5px 0px rgba(188, 188, 188, 0.55);
  border-radius: 10px;
  padding: 15px 10px 0 10px;
  margin: 5px;

  .main_icon i{
    font-size: 10em;
    margin-left: 18%;
    color: darkgray;
  }
  .temp_today{
    font-size: 2em;
    padding-top: 7px;
  }
  .forecast-desc{
    line-height: 17px;
  }
  table{
    margin-top: 10px;
    font-size: 13px;
	tr td{
	  position: relative;
	}
    .temp{
      font-weight: 600;
      font-size: 15px;
      width: 65px;
    }
    i{
      position: absolute;
      font-size: 2em;
	  top: -1px;
	  left: -8px;
    }
  }
}

/*
Flaticon icon font: Flaticon
Creation date: 18/04/2016 13:35
*/

@font-face {
  font-family: "Weather";
  src: url("/_assets/_santa/_icons-font/weather.eot");
  src: url("/_assets/_santa/_icons-font/weather.eot?#iefix") format("embedded-opentype"),
  url("/_assets/_santa/_icons-font/weather.woff") format("woff"),
  url("/_assets/_santa/_icons-font/weather.ttf") format("truetype"),
  url("/_assets/_santa/_icons-font/weather.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Weather";
    src: url("/_assets/_santa/_icons-font/weather.svg#Flaticon") format("svg");
  }
}

.weather:before{
  display: inline-block;
  font-family: "Weather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.weather-icon-1:before{ content: "\f103"; }
.weather-icon-2:before{ content: "\f102"; }
.weather-icon-3:before{ content: "\f102"; }
.weather-icon-4:before{ content: "\f102"; }
.weather-icon-5:before{ content: "\f106"; }
.weather-icon-6:before{ content: "\f106"; }
.weather-icon-7:before{ content: "\f106"; }
.weather-icon-8:before{ content: "\f106"; }
.weather-icon-9:before{ content: "\f106"; }
.weather-icon-10:before{ content: "\f106"; }
.weather-icon-11:before{ content: "\f102"; }
.weather-icon-12:before{ content: "\f102"; }
.weather-icon-13:before{ content: "\f102"; }
.weather-icon-14:before{ content: "\f102"; }
.weather-icon-15:before{ content: "\f101"; }
.weather-icon-16:before{ content: "\f101"; }
.weather-icon-17:before{ content: "\f103"; }
.weather-icon-18:before{ content: "\f105"; }
.weather-icon-19:before{ content: "\f105"; }
.weather-icon-20:before{ content: "\f105"; }
.weather-icon-21:before{ content: "\f105"; }
.weather-icon-22:before{ content: "\f105"; }

$font-Flaticon-sky: "\f100";
$font-Flaticon-sky-1: "\f101";
$font-Flaticon-sky-2: "\f102";
$font-Flaticon-summer: "\f103";
$font-Flaticon-weather: "\f104";
$font-Flaticon-weather-1: "\f105";
$font-Flaticon-weather-2: "\f106";
$font-Flaticon-weather-3: "\f107";