#carousel-mainpage{
  .carousel-caption{
	left: 3%;
	width: 189px;
	bottom: inherit;
	top: 10%;
	text-align: left;
	font-size: 17px;
	line-height: 27px;
  }
  .banner_button{
	position: absolute;
	right: 0;
	bottom: 0;
  }
}

.block-akcii{
  padding-top: 10px;
}