.catalogPageItem{
  h1{
	color: #afa687;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	font-weight: 500;
  }
  .catalogImage{
	position: relative;
	padding-bottom: 15px;
  }
  .cost{
	background: url("/_assets/_front/_images/bg_cost_vit.png") no-repeat scroll 0 0 transparent;
	left: 42px;
	bottom: -10px;
	position: absolute;
	text-align: center;
	height: 72px;
	width: 272px;
	font-size: 15px;
	margin-bottom: 2px;
	font-weight: 700;
	padding-top: 9px;
	line-height: 17px;
	text-shadow: 1px 1px 1px #FFFFFF;
	span{
	  //display: block;
	  font-family: 'Open Sans Condensed', sans-serif;
	  line-height: 30px;
	  font-size: 30px;
	  font-weight: 700;
	  text-shadow: none;
	  padding-top: 27px;
	  &.empty-cost{
		position: relative;
		top: 6px;
	  }
	  &.empty-cost > span{
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		line-height: 17px;
		font-weight: 500;
	  }
	  &.default-cost > span:nth-last-child(1),
	  &.default-cost > span:nth-last-child(2),
	  &.default-cost > span:nth-last-child(3),
	  &.default-cost > span:nth-last-child(4){
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		line-height: 17px;
		font-weight: 500;
	  }
	  &.what{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 15px;
		font-weight: 300;
	  }
	}
  }
  .catalogFull{
	padding-right: 35px;
	padding-top: 20px;
	strong{
	  font-weight: 600;
	  color: grey;
	}
  }
  .row-description{
	padding-top: 40px;
  }
  .form-addToCart{
	padding-top: 100px;
	text-align: center;
  }
  .other-photos{
	padding-top: 30px;
	img{
	  border-radius: 500px;
	}
	.other-photos-bg{
	  height: 250px;
	  background-size: cover;
	  border-radius: 500px;
	}
  }
  .input-group{
	width: 250px;
	margin: 0 auto;
	input, button{
	  height: 45px;
	}
	.kolvo{
	  font-size: 25px;
	}
	.addon-x{
	  background: inherit;
	}
	.addon-what{
	  background: inherit;
	  font-style: italic;
	  border-left: none;
	}
  }
  .btn-info{
	background: #0582c2;
  }
}