.toursBlockCategory{
  padding-bottom: 50px;
  > div:nth-child(3n+1){
	margin-left: 3%;
  }
  h3{
	font-size: 20px;
  }
  .short{
	font-size: 14px;
	line-height: 19px;
	padding-top: 15px;
  }
}

.toursBlockTour{
  padding-bottom: 50px;
  > div:nth-child(3n+1){
	margin-left: 3%;
  }
  h3 a, h4 a{
    font-size: 17px;
    font-weight: 600;
    padding: 0 7px;
    line-height: 23px;
  }
  .cost{
    background: url("/_assets/_santa/_images/bg/bg_cost.png") no-repeat left top transparent;
    width: 125px;
    height: 34px;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    small{
      font-size: 70%;
    }
  }
  .stars{
    position: absolute;
  }
  .dates{
    color: grey;
    font-size: 85%;
    line-height: 16px;
    padding-top: 5px;
  }
}
.toursBlockTourSletat{
  h4 a{
    line-height: 23px;
    min-height: 72px;
    display: inline-block;
  }
}

.toursPageCountry{
  .tours_tabs{
	position: relative;
	.nav-tabs {
	  border-bottom: none;
	  position: relative;
	  top: -10px;
	  right: 0;
	  > li{
		float: right;
		&.active a{
		  background: #F3F3F3;
		  text-decoration: none;
		  color: #DF1442;
		}
		> a{
		  border: 1px solid #ddd;
		}
	  }
	}
  }
  #map{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .toursPageCountry-short{
	padding-bottom: 30px;
  }
  #carousel-country{
    border: 8px solid #f3f3f3;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px #C7C7C7;
  }
  .ya-share2{
	position: absolute;
	z-index: 5;
	right: 10px;
	top: 9px;
  }
}