.flag-icon-avstraliya {
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/au.svg');
}
.flag-icon-avstriya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/at.svg');
}
.flag-icon-andorra{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ad.svg');
}
.flag-icon-bolgariya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/bg.svg');
}
.flag-icon-bora-bora{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pf.svg');
}
.flag-icon-braziliya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/br.svg');
}
.flag-icon-vengriya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/hu.svg');
}
.flag-icon-vetnam{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/vn.svg');
}
.flag-icon-germaniya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/de.svg');
}
.flag-icon-gretsiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/gr.svg');
}
.flag-icon-dominikana{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/dm.svg');
}
.flag-icon-egipet{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/eg.svg');
}
.flag-icon-izrail{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/il.svg');
}
.flag-icon-indoneziya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/id.svg');
}
.flag-icon-indiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/in.svg');
}
.flag-icon-iordaniya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/jo.svg');
}
.flag-icon-irlandiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ie.svg');
}
.flag-icon-ispaniya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/es.svg');
}
.flag-icon-italiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/it.svg');
}
.flag-icon-kambodzha{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/kh.svg');
}
.flag-icon-kanada{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ca.svg');
}
.flag-icon-kipr{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/cy.svg');
}
.flag-icon-kitay{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/cn.svg');
}
.flag-icon-kuba{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/cu.svg');
}
.flag-icon-mavrikiy{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/mq.svg');
}
.flag-icon-malayziya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/my.svg');
}
.flag-icon-maldivy{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/mv.svg');
}
.flag-icon-marianskie-ostrova{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/mu.svg');
}
.flag-icon-meksika{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/mx.svg');
}
.flag-icon-murea{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pf.svg');
}
.flag-icon-novaya-zelandiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/nz.svg');
}
.flag-icon-norvegiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/no.svg');
}
.flag-icon-oae{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ae.svg');
}
.flag-icon-palau{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pw.svg');
}
.flag-icon-polsha{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pl.svg');
}
.flag-icon-portugaliya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pt.svg');
}
.flag-icon-rossiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ru.svg');
}
.flag-icon-seyshely{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/sc.svg');
}
.flag-icon-singapur{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/sg.svg');
}
.flag-icon-ssha{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/us.svg');
}
.flag-icon-tayland{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/th.svg');
}
.flag-icon-taiti{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/pt.svg');
}
.flag-icon-tunis{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/tn.svg');
}
.flag-icon-turtsiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/tr.svg');
}
.flag-icon-fidzhi{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/fj.svg');
}
.flag-icon-filippiny{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ph.svg');
}
.flag-icon-finlyandiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/fi.svg');
}
.flag-icon-frantsiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/fr.svg');
}
.flag-icon-chernogoriya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/me.svg');
}
.flag-icon-chekhiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/cz.svg');
}
.flag-icon-shveytsariya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/ch.svg');
}
.flag-icon-shvetsiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/se.svg');
}
.flag-icon-shri-lanka{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/lk.svg');
}
.flag-icon-yuzhnaya-koreya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/kr.svg');
}
.flag-icon-yamayka{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/jm.svg');
}
.flag-icon-yaponiya{
  background-image: url('/_assets/bower_components/flag-icon-css/flags/4x3/jp.svg');
}