.toursPageItem{
  #carousel-tour{
	border: 8px solid #f3f3f3;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px #C7C7C7;
  }
  .carousel-control{
	width: 9%;
	&.right,
	&.left{
	  background: none;
	}
  }
  .toursFull{
	table{
	  width: 100%;
	  tr:nth-child(even) {
		background: #FF819D;
	  }
	  tr:nth-child(odd) {
		background: #FFC4D1;
	  }
	  tr:first-child {
		background: #DF1442;
		color: #fff;
		text-align: center;
	  }
	  td{
		padding: 5px;
	  }
	}
  }
  .row-btn-group .btn-group{
	width: 100%;
	padding-bottom: 30px;
	> *{
	  width: 33.3333%;
	  height: 64px;
      @media (max-width: 500px) {
        width: 50%;
      }
	}
    @media (max-width: 500px) {
      .btn-uptocall{
        display: none;
      }
    }
	a{
	  padding-top: 19px;
	}
  }
  .ya-share2{
	position: absolute;
	z-index: 1;
	right: 6px;
	top: 20px;
	background: #f3f3f3;
	padding: 8px 5px 6px 6px;
	border-radius: 5px;
	@media (max-width: 500px) {
	  display: none;
	}
  }
  .block-cost_notactive{
	margin-top: 10px;
	font-size: 26px;
	text-align: center;
	padding: 20px 10px;
	color: #c00c2f;
	border: 2px solid #C00C2F;
  }
}