@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MyriadPro.eot);
    src: local("Myriad Pro"), local("Myriad Pro"),
        url(../fonts/Myriad Pro.eot) format("embedded-opentype"),
        url(../fonts/Myriad Pro.woff) format("woff");
}
body{
	font-family: "Trebuchet MS",PT Sans, Tahoma, Arial, sans-serif;
}
#content_otel{
	width: 98%;
	border:1px solid #E0E0E0;
	border-bottom-color:#B1B1B1;
	border-radius:5px;
}
.block_title{
	float:left;
}
.block_otel{
	padding: 20px 15px 14px 15px;
	border-bottom:1px solid #DADADA;
}
.block_otel .flag{
	width:16px;
	height:10px;
	background:url(../images/arab.png);
	background-repeat:no-repeat;
	float:left;
	margin:4px 4px 0 0;
}
.block_otel .name_country{
	font-size:14px;
	color:#E12731;
	overflow: hidden;
}
.block_otel .title_otel{
	font-size:20px;
	float:left;
}
.block_otel .zvezda{
	width:13px;
	height:13px;
	background:url(../images/zvezda.png);
	background-repeat:no-repeat;
	float: right;
	margin-top: 6px;
}
.clearfix:after,
.clearfix:before{
	display:table;
	content:"";
	line-height:0;
	height:0;
}
.clearfix:after{
	clear:both;
}
.clear{
	clear:both;
}
.position{
	position:relative;
}
.block_info{
	margin-top:10px;
}
.block_info .img_country_u{
	width:233px;
	height:190px;
	background:url(../images/arabianSuite.png);
	background-repeat:no-repeat!important;
	float:left;
	margin-right:10px;
}
.block_info table.table_info{
	width:473px;
	font-size:14px;
	float:left;
	margin:-5px 8px 0 0;
}
.block_info table.table_info td{
	vertical-align:top;
	padding-bottom:8px;
}
.block_info table.table_info span{
	font-size:11px;
	padding-right:9px;
}
.block_info table.table_info .bold{
	width:108px;
	font-weight:bold;
}
.block_info table.table_info .arr_n{
	//padding-bottom:40px;
}
.block_price{
	width:167px;
	float:right;
}
.block_price .price_tur,
.block_price .doplaty{
	font-size:11px;
	color:#7D7D7D;
	display:block;
}
.block_price .price_tur{
	margin: 17px 0 5px 0;
}
.block_price .price{
	background-color:#F4F4F4;
	overflow:hidden;
	text-align:center;
}
.block_price .price_{
	font-size:22px;
	font-weight:bold;
	color:#E12731;
	display:block;
	margin-bottom:15px;
}
.blokc_doplaty{
	border:1px solid #F4F4F4;
	overflow:hidden;
	padding:3px 0 7px 13px;
}
.blokc_doplaty .no_doplaty{
	font-size:15px;
	color:#E43640;
}
.blokc_doplaty .doplaty {
	padding-top:3px;
}
.block_price .button2{
	float: right;
	margin: 13px 1px 15px 0;
}
#paginator{
	text-align:center;
	padding:20px 0;
	position:relative;
	width: 44%;
	margin: 0 auto;
}
#paginator .prev,
#paginator .next,
#paginator .num_paginator{
	float:left;
}
#paginator .num_paginator{
	margin:0 13px;
}
#paginator .num_paginator a{
	margin:0 3px;
}
#paginator a{
	color:#E44048;
}
#block-otel2{
	padding:10px 15px;
}
#block-otel3,
#block-otel4{
	padding:5px 15px;
}
#block-otel5{
	padding:9px 15px;
}
/* KARTOCHKA */
#kartochka-wrapper{
}
.m3 h1{
	display:none;
}
.main-text{
	width:100%;
	box-sizing:border-box;
}
#kartochka-wrapper .kartochka-wrapper,
#wrapper-bron{
	padding:15px 17px 0px 17px;
}
#block-country{
	padding:0px 15px;
}
#kartochka_primechanie{
	overflow:hidden;
}
#kartochka-wrapper .block-top span{
	float:left;
}
#kartochka-wrapper .block-top{
	font-size:20px;
}
#kartochka-wrapper .block-top .red{
	color:#E3333D;	
}
#kartochka-wrapper .block-top .fly{
	display:block;
	width:18px;
	height:17px;
	background:url(../images/03.png) !important;
	background:no-repeat;
	margin: 6px 10px;
}
#kartochka-wrapper .block-top{
	margin-bottom:10px;
}
#kartochka-wrapper .block-top .tur{
	margin-right: 18px;
}
#kartochka-wrapper .block_table_bar{
	width:74%;
	float:left;
}
#kartochka-wrapper table.table_info{
	width:96%;
	font-size:14px;
}
#kartochka-wrapper table.table_info .bold {
	font-weight: bold;
	padding-right:9px;
}
#kartochka-wrapper table.table_info span {
font-size: 11px;
}
#kartochka-wrapper table.table_info td{
	padding-bottom:3px;
}
#kartochka-wrapper .block_price .price{
	border:1px solid #DFDFDF;
	border-bottom:0;
	border-radius:5px 5px 0 0;
}
#kartochka-wrapper .blokc_doplaty{
	border:1px solid #DFDFDF;
	border-top-width:0;
	border-radius:0 0 5px 5px;
}
#kartochka-wrapper .block_price {
	top: -35px;
	right: 4px;
}
#kartochka-wrapper .blokc_doplaty{
	padding: 9px 0 10px 15px;
	margin-bottom: 9px;
}
#kartochka-wrapper .blokc_doplaty .doplaty{
	padding-top:0;
}
#kartochka-wrapper .block_price{
	width:169px;
}
#kartochka-wrapper .block_price .button3{
	margin: 13px 0px 0 0;
}
#kartochka-wrapper .block_price .button2{
	margin: 0;
	cursor:pointer;
}
#kartochka-wrapper #form-online{
	margin-bottom:7px;
}
#kartochka_primechanie span{
	float:left;
	font-size:13px;
	border:1px solid #DFDFDF;
	border-right:0;
	border-radius: 3px 0 0 3px;
	padding:11px 14px;
	margin-top:11px;
}
#kartochka_primechanie span.last{
	margin-right:0 !important;
}
#kartochka_primechanie span.p-arr{
	font-size:14px;
	background-color:#78EA6B;
	border:1px solid #50BA47;
	display:block;
	padding: 11px 5px;
	border-radius: 0px 3px 3px 0px;
	margin-right:8px;
	color:#30A831;
}
#kartochka_primechanie span.p-arr_{
	background-color:#999999;
	border:1px solid #999999;
	color:#fff;
        padding: 11px 14px;
}
#kartochka_primechanie span.p-arr_arr{
	background-color:#F64442;
	border:1px solid #F64442;
	color:#fff;
}
#kartochka_primechanie
#kartochka_primechanie span.p-arr_u{
	padding: 11px 14px 11px 11px;
}
#kartochka_primechanie span.p-arr_u1{
	padding:11px 10px;
}
.primechanie .primechanie_img{
	width:23px;
	height:21px;
	background:url(../images/primechanie.png);
	background-repeat:no-repeat;
	float:left;
	margin: 6px 0 0 2px;
}
.primechanie .primechanie_text{
	font-size:11px;
	margin: 64px 0 0 37px;
}
.block-country{
	padding: 15px;
}
.block-country .title{
	font-size: 22px;
	font-weight: bold;
	float:left;
}
.block-country .reiting{
	width:90px;
	height:15px;
	background:url(../images/reiting-zvezda.png) !important;
	background:no-repeat;
	display:block;
	float: left;
	margin: 5px 7px	0 0;
}
.block-country .block-country-bar1{
	float:left;
	margin-right:24px;
}
.block-country .block-country-bar1  .u-283{
	width:100%;
}
.block-country .flag-country .flag{
	width:17px;
	height:12px;
	background:url(../images/flag-country.png) !important;
	background:no-repeat;
	display:block;
	margin-top:4px;
}
.block-country .flag-country .name-country{
	font-size: 12px;
	margin-left: 6px;
}
.block-country .site-icon{
	width:11px;
	height:11px;
	background:url(../images/site.png) !important;
	background:no-repeat;
	display:block;
}
.flag-country span.flag,
.flag-country span.name-country,
.flag-country span.site-icon{
	float:left;
}
.block-country-wrapper{
	border-top:1px solid #DFDFDF;
}

/*SLIDER*/
#wrapper-carousel {
	border: 1px solid #ddd;
	background-color: #fff;
	width: 423px;
	height: 274px;
	box-shadow: 0px 2px 12px 0px #D2D2D2;
	position:relative;
}
#wrapper-carousel img {
	display: block;
	float: left;
}
#wrapper-carousel #images, 
#wrapper-carousel #thumbs {
	height: 217px;
	overflow: hidden;
}
#wrapper-carousel #images {
	width: 290px;
	margin: 50px 0 25px 50px;
}
#wrapper-carousel #thumbs {
	width: 288px;
	height: 100px;
}
#wrapper-carousel #thumbs img {
	cursor: pointer;
	padding:0 4px;
}
#wrapper-carousel #thumbs img.selected, 
#wrapper-carousel #thumbs img:hover {
	border-color: #333;
}			
#wrapper-carousel #prev, 
#wrapper-carousel #next {
	width: 15px;
	height: 21px;			
	display: block;				
	text-indent: -999em;
	background: transparent url(../images/carousel_control.png) no-repeat 0 0;
	position: absolute;
	bottom: 16px;				
}
#wrapper-carousel #prev {
	background-position: 0 0;
	left: 70px;
}
#wrapper-carousel #prev:hover {
	left: 70px;
}	
#wrapper-carousel #prev:hover,
#wrapper-carousel #next:hover {
	width: 15px;
	height: 21px;			
	display: block;				
	text-indent: -999em;
	background: transparent url(../images/carousel_control-hover.png) no-repeat 0 0;
	position: absolute;
	bottom: 16px;				
}	

#wrapper-carousel #next {
	background-position: -18px 0;
	right: 70px;
}
#wrapper-carousel #next:hover {
	background-position: -18px 0;
	right: 70px;
}	
.block-country-bar1 .site-url{
	font-size: 12px;
	margin: -4 0 8px 18px;
	display: block;
}
.block-country-bar1 .site-url a{
	color:#6CABDF;
	text-decoration:none;
}		
.caroufredsel_wrapper{
	margin: 6px 0px 6px 66px !important;
}
.block-country-bar1{
	width:425px;
}
.block-country_descritpion span{
	font-size:14px;
	display:block;
	font-weight:bold;
	margin-top: 10px;
}
.block-country_descritpion p{
	font-size: 12px;
	margin-top: 6px;
	margin-bottom:0;
	color:#5F5C57;
}
.block-country_descritpion .link{
	font-size: 12px;
	display: block;
	text-align: right;
	margin-top: -4;
}
.block-country_descritpion .link a,
.news-country .link a{
	color:#00A8D9;
}
#uslugi .table-uslugi1{
	width:155px;
}
#uslugi .table-uslugi{
	width:150px;
	float:left;
}
#uslugi .table-uslugi,
#uslugi .table-uslugi1{
	font-size:11px;	
}
#uslugi .table-uslugi td{
	padding-bottom:10px;
}
#uslugi .table-uslugi .bottom{
	padding-bottom:55px;
}
#uslugi .table-uslugi .parkovka{
	padding-bottom:25px;
}
#uslugi .table-uslugi1 .nomera{
	padding-bottom:9px;
}
#uslugi .table-uslugi1 .obhie{
	padding-bottom:7px;
}
#uslugi .table-uslugi1 .biznes{
	padding-bottom:8px;
}
#uslugi .table-uslugi1 .internet{
	padding-bottom:8px;
}
#uslugi .table-uslugi1 .odegda{
	padding-bottom:8px;
}
#uslugi .table-uslugi1 .voda{
	padding-bottom:14px;
}
#uslugi .table-uslugi1 .plyag{
	padding-bottom:14px;
}
#uslugi .table-uslugi span,
#uslugi .table-uslugi1 span{
	text-transform:uppercase;
	color:#79B2E2;
	display:block;
	margin-bottom:-3px;
}
#uslugi .uslugi-img,
#uslugi .uslugi-text{
	vertical-align:top;
}
#uslugi .title-uslugi{
	font-size:14px;
	display:block;
	font-weight:bold;
	margin-top:10px;
}
.block-country .block-country-bar2{
	overflow:hidden;
}
.block-country .block-country-bar2 .block-pogoda{
	float:left;
	margin-bottom: 8px;
}
.block-country .block-country-bar2 .block-pogoda .pogoda{
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}
.block-country .block-country-bar2 .news-country{
	margin-bottom:10px;
}
.news-country span{
	display:block;
}
.news-country .news{
	font-size:15px;
	margin:0 0 8px 3px;
	font-weight:bold;
}
.news-country .news-img{
	margin-bottom:5px;
}
.news-country .news-description{
	font-size: 12px;
	line-height: 1.3;
}
.news-country .link{
	font-size: 11px;
	display: block;
	text-align: right;
	margin-right: 15px;
}
.block-country-bar2 .block_process{
	width:100%;
	float:none;
	margin:68px 0 12px 0;
}
.block_process .reiting-otelya{
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-bottom:5px;
}
.block-country-bar2 .block_process .num-process{
	display: block;
	position: absolute;
	color:#39A037;
	font-weight:bold;
}
.block-country-bar2 .progress-bar {
	background: url(http://hotels.sletat.ru/images/main-progress-bar.png) repeat-x;
	height: 10px;
	width: 82%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #cbcbcb;
	float: right;
	margin: 7px 13px 0 0;
}
#content_otel .block_process{
	float:right;
	margin-right: 22px;
}
#claendar-block{
	position: absolute !important;
	top: 491px !important;
	left: 256px !important;
	z-index: 1 !important;
	display: block !important;
}
#content_otel .block_process span{
	font-size:14px;
	color:#8E8E8E;	
	display:block;
	float:left;
	position:relative;
	right:5px;
}
#content_otel .block_process .progress-bar{
	background: url(http://sletat.ru/AgencyRelease/module/controls/base/image/rate_01.png) repeat-x;
	height: 13px;
	width: 100%;
	float: left;
	margin: 7px 0px 0 0px;
}
#content_otel .block_process .num-process{
	color: #39A037;
	font-weight: bold;
	margin-top: 4px;
	float: right;
	right: -12px !important;
	top: -19px;
	position:relative;
}
.block-country-bar2 .block-map{
	width:222px;
	border:1px solid #EAECEC;
	border-radius:5px;
	margin-bottom:16px;
}
.block-country-bar2 .map{
	border:5px solid #F3F4F5;
}

element.style {
display: block;
}
#wrapper-content{
	width:944px;
	margin:30px auto 0;
}
#serch-form_block{
	width: 95% !important;
	background:#FFEDED;	
	background-image: -webkit-linear-gradient(#FFFEFE, #FFEDED);
	background-image: -moz-linear-gradient(#FFFEFE, #FFEDED);
	background-image: -o-linear-gradient(#FFFEFE, #FFEDED);
	background-image: -ms-linear-gradient(#FFFEFE, #FFEDED);
	background-image: linear-gradient(#FFFEFE, #FFEDED);
	border:1px solid #EEEEEE;
	padding:15px 0 23px 25px;
	margin-bottom:20px;
	position:relative;
}
#serch-form_block1 .block-select{
	width:170px;
	float:left;
	margin-right:10px;
	position:relative;
}

#serch-form_block2 .block-select{
	width:178px !important;
	float:left;
}
#stars-block{
	width:100px !important;
	margin: 0 10px !important;
}
#serch-form_block2 .block-select_ .chosen-container{
	margin-right:10px;
}
#serch-form_block2 .block-select_arr45{
	float:left;
}
.block-select_arr45 .new-select-style-wpandyou_{
	margin-right:11px;	
}
#serch-form_block2 .block-select_arr45 select{
	margin-right:20px;
}
#serch-form_block2 .block-select_arr45_{
	margin:0 8px 0 5px;
}
#serch-form_block2{
	margin-bottom:18px;
}
#serch-form_block2 .defis{
	float:left;
	margin:0 5px;
}
#serch-form_block1 .last{
	margin:0;
}
#serch-form_block1{
	margin-bottom:15px;
}
#serch-form_block1 .arr_r12,
#serch-form_block2 .arr_r12{
	color:#000000;
	font-weight:bold;
	display:block;
	margin:0 0 4px 3px;
	font-size: 18px;
}
#serch-form_block .button5{
	position: absolute;
	right: 18px;
	top: 134px;
}
#serch-form_block .search-icon{
	width:59px;
	height:64px;
	background:url(../images/icon.png) !important;
	background-repeat:no-repeat;
	display:block;
	margin: -31px 20px 20px 0;
	float: left;
}
#serch-form_block .title-block{
	font-size: 28px;
	margin-top: -10px;
}
#wrapper-bron{
	display:none;
}
#wrapper-bron .title{
	font-size:22px;
	font-weight:bold;
	margin-bottom:20px;
	color:#333333;
}
.wrapper-ofice .title{
	font-size:22px;
	font-weight:bold;
	padding-bottom:5px;
	color:#333333;	
	border-bottom:1px solid #DADADA;
}
#wrapper-bron .bron-form{
	padding: 15px 9px 15px 20px;
	background:#F1F2F5;
}
#wrapper-bron .title-turist,
#wrapper-bron .info-zakaz .title{
	font-size:21px;
	margin-bottom:5px;
	color:#333333;
}
#wrapper-bron .bron-form1 span,
#wrapper-bron .info-zakaz span{
	display:block;
	margin-bottom:3px;
	color:#6E6F78;
}
#wrapper-bron .bron-form1 p{
	font-size:13px;
	float:left;
	margin:0 0 7px 16px;
}
#wrapper-bron .bron-form1 p.sex_arr{
	float: none;
	overflow: hidden;
	margin-bottom: -3px;
	height: 20px;
}
#wrapper-bron .bron-form1 p.date-v{
	margin-right: 20px;
}
#wrapper-bron .bron-form1 p.srok-d{
	margin-left: 0;
	margin-bottom: 0;
	float:none;
	margin-top: 16px;
}
#wrapper-bron .bron-form p.srok-d span,
#wrapper-bron .bron-form1 p.srok-d span{
	margin-bottom:1px !important;
}
#wrapper-bron .bron-form p.sex_arr span,
#wrapper-bron .bron-form1 p.sex_arr span{
	margin-bottom: 0 !important;
}
#wrapper-bron .bron-form1 p.srok-d span{
	overflow: hidden;
	width: 100px;
}
#wrapper-bron .bron-form .last{
	border:0;
}
#wrapper-bron .bron-form1 .first,
#wrapper-bron .bron-form1 .last{
	margin:0;
}
#wrapper-bron .bron-form1 .chosen-container,
#wrapper-bron .bron-form1 .bron_{
	width:90px !important;
}
#wrapper-bron .bron-form1 .nationality{
	margin-left:20px;
	margin-right:20px;
}
#wrapper-bron .bron-form1 .bron{
	width:195px;
}
#wrapper-bron #series{
	float:left;
	margin-right:10px;
}
#wrapper-bron .where{
	margin-left: 0 !important;
}
#wrapper-bron .where input{
	width: 614px;
}
#wrapper-bron .bron-form1 .bron,
#wrapper-bron .bron-form1 .bron_,
#wrapper-bron .info-zakaz .zakaz,
#wrapper-bron .info-zakaz .zakaz_,
#wrapper-bron .where input{
	position: relative;
	display: block;
	padding: 4px 0 3px 4px;
	border: 1px solid #B2B2B2;
	border-radius: 4px;
	background-color: #fff;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
	box-shadow: inset 0px 2px 7px 0px #E0E0E0;
	margin-top:0;
}
.fx-passport{
	width:204px;
}
#wrapper-bron .info-zakaz{
	margin:27px 0 23px 0;
}
#wrapper-bron .info-zakaz p{
	margin:0;
}
#wrapper-bron .info-zakaz .first{
	margin-left:100px !important;
}
#wrapper-bron .info-zakaz .first,
#wrapper-bron .info-zakaz .last{
	margin:0;
}
#wrapper-bron .info-zakaz .form-zakaz{
	background:#F1F2F5;
	padding: 15px 18px 20px 18px;
}
#wrapper-bron .info-zakaz .zakaz{
	width:290px;
}
#wrapper-bron .info-zakaz .zakaz_{
	width:186px;
}
#wrapper-bron .info-zakaz p{
	font-size:13px;
	float:left;	
}
#wrapper-bron .info-zakaz .adress{
	margin:0 0 10px 42px;
}
#wrapper-bron .info-zakaz .email{
	margin:0 29px;
}
.wrapper-ofice{
	padding: 15px 20px 0 15px;
	display:none;
}
.wrapper-ofice .block-left{
	float:left;
}
.wrapper-ofice form{
	margin-bottom:0;
}
.wrapper-ofice .block-left .email{
	margin-left:24px;
}
.wrapper-ofice .block-left .text{
	margin-left:4px;
}
.wrapper-ofice .arr{
	font-size:14px;
	font-weight:bold;
}
.wrapper-ofice .arr_r{
	color:#FF0809;
}
.wrapper-ofice .inpt{
	width:187px;
	padding:3px;
	border-radius:5px;
	border:1px solid #DADADA;
}
.wrapper-ofice .block-left p input:nth-child(2){
	margin-left:1px;
}
.wrapper-ofice .aria{
	border:1px solid #DADADA;
	border-radius:5px;
	margin-top: 1px;
	float:right;
}
.wrapper-ofice .comment{
	display: block;
	float: left;
	margin: 5px 0 0 235px;
}
.wrapper-ofice .textarea{
	overflow:hidden;
}
.wrapper-ofice .button6{
	float: right;
	margin-right: 40px;
	margin-top: 10px;
}
#wrapper-bron .opisanie{
	padding-top: 25px;
	font-size: 13px;
	color:#6E6F78;
}
#wrapper-bron .radio1{
	font-size: 13px;
	color:#6E6F78;
	overflow: hidden;
	padding-top: 7px;
	padding-left: 11px;
}
#wrapper-bron .button7{
	float:left;
}
#wrapper-bron .oferta{
	color:#2476BD;
}
#block-series{
	width:205px;
}

.r_button2 {
	display: none;
}
.r_button2+label {
	width: 18px;
	height: 18px;
	background: url(../images/checkbox.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 25px;
}
.r_button2:checked+label {
	width:18px;
	height:18px;
  background: url(../images/checkbox-active.png);
	background-repeat:no-repeat;
	cursor: pointer;
	padding-left: 25px;
}

#serch-form_block .new-select-style-wpandyou{
	width: 157px;
	height: 26px;
	background: url(../images/chosen-sprite.png) no-repeat 138px 10px;
	overflow: hidden;
	background-color: #fff;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	border-right: 1px solid #B2B2B2;
	border-radius: 4px;
}
#serch-form_block .new-select-style-wpandyou_{
	width: 66px;
	height: 26px;
	background: url(../images/chosen-sprite.png) no-repeat 48px 10px;
	overflow: hidden;
	float:left;
	background-color: #fff;
	border-right: 1px solid #B2B2B2;
	border-radius: 4px;
}
#wrapper-bron .new-select-style-wpandyou_{
	width: 66px;
	height: 26px;
	background: url(../images/chosen-sprite.png) no-repeat 48px 10px;
	overflow: hidden;
	background-color: #fff;
	position:relative;
	border-right: 1px solid #B2B2B2;
	border-radius: 4px;
	z-index:1;
}

#serch-form_block input.formInput{
	width:59px !important;
	background-color:#fff !important;
}
#serch-form_block .formInput{
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 1px 0 #fff inset;
	width: 177px !important;
	margin-right: 3px;
	float: left;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	zoom: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 26px;
	background: transparent;
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	box-shadow: inset 0px 2px 7px 0px #E0E0E0;
}
input.formInput{
	height:24px !important;
	border-radius:4px !important;
}
.main-text{
	margin-left:0 !important;
}
input.formInput,
.chosen-select-no-single{
border: 1px solid #aaa;
box-shadow: 0 1px 0 #fff inset;
width: 92px !important;
margin-right: 3px;
float: left;
position: relative;
display: inline-block;
vertical-align: middle;
font-size: 14px;
zoom: 1;
-webkit-user-select: none;
-moz-user-select: none;
position: relative;
display: block;
overflow: hidden;
z-index:100;
padding: 0 0 0 8px;
height: 26px;
border: 1px solid #B2B2B2;
border-radius: 4px;
background: transparent;
color: #444;
text-decoration: none;
white-space: nowrap;
line-height: 24px;
box-shadow: inset 0px 2px 7px 0px #E0E0E0;
}
div.progress-bar.proBar10 {
background-position: 93% 0%!important;
}
div.progress-bar.proBar9 {
background-position: 93% 10%!important;
}
div.progress-bar.proBar8 {
background-position: 93% 20%!important;
}
div.progress-bar.proBar7 {
background-position: 93% 30%!important;
}
div.progress-bar.proBar6 {
background-position: 93% 40%!important;
}
div.progress-bar.proBar5 {
background-position: 93% 50%!important;
}
div.progress-bar.proBar4 {
background-position: 93% 60%!important;
}
div.progress-bar.proBar3 {
background-position: 93% 70%!important;
}
div.progress-bar.proBar2 {
background-position: 93% 80%!important;
}
div.progress-bar.proBar1 {
background-position: 93% 90%!important;
}
div.progress-bar.proBar0 {
background-position: 93% 100%!important;
}
div#operators {
float: left;
margin-left: 2px;
}
.SLbutton {
margin-left: 260px;
color: #808080;
text-decoration: underline;
cursor: pointer;
width: 75px;
}
div#minPrice {
float: right;
margin-top: -19px;
}
span.minPrice {
color: #E12731;
font-weight: bold;
}
div#progress {
width: 98%;
margin-bottom: 5px;
}




p.flex-caption {
display: none;
}
.content .slider_added_container {
height: 340px;
}
.wrapper_slider {
height: 286px;
}
.search_container {
width: 731px;
float: right;
}
.middle_content {
margin-top: 0;
}
div#leftMenu {
float: left;
}
div#leftMenu li {
list-style: none;
background: #68aefb;
margin: 1px 0px;
padding-left: 12px;
color: white;
font-weight: bold;
width: 211px;
font-size: 21px;
}
li:first-child {
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
li:last-child {
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}
p.menuTitle {
font-weight: bold;
font-size: 23px;
}
.countries_container .countries {
float: left;
margin-top: 10px;
padding: 0;
width: 144px;
background: #f1f0e6;
position: relative;
height: 414px;
}
.countries_container h3 {
background: none;
color: #000;
padding-left: 0;
font-family: OpenSans-CondBold;
font-size: 23px;
text-transform: uppercase;
line-height: 1;
padding: 8px 0 2px;
}
.countries_container {
width: 190px;
float: left;
margin-left: 0;
}
.tlc {
top: -5px;
left: -5px;
}
.trc, .ts {
top: -5px;
}
.ls {
left: -5px;
}
.hot_tours {
width: 387px;
}
.hot_tours_container {
width: 400px;
}
.news_container {
width: 325px;
float: right;
margin-left: 0;
}
.news_container .news_list {
width: 281px;
height: 425px;
}
.hot_tours_container h3 a {
background: none;
padding-left: 4px;
font-size: 23px;
text-decoration: none;
}
.hot_tours {
margin-top: 10px;
}
#htd_iframe{
  width:100% !important;
}
#wrapper-bron .bron-form1,
#wrapper-bron .bron-form2{
	width:700px;
	margin:0 auto;
}
#calendar_block{
	width:158px !important;
	border:0 !important;
	background:none !important;
}
#calendar_block #datepicker{
	width:120px !important;
}
#calendar_block img{
	margin:2px 0 0 3px;
}








