header{
  background: url("/_assets/_front/_images/bg/bg_header.png") no-repeat center top transparent;
  height: 279px;
  padding: 0 18px;
  position: relative;

  .logo_link{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	a{
	  display: block;
	  width: 350px;
	  height: 227px;
	  margin: 0 auto;
	}
  }

  .block-header-left{
	position: absolute;
	left: 250px;
	top: 152px;
	a{
	  font-family: 'Open Sans Condensed', sans-serif;
	  font-size: 27px;
	  color: black;
	}
  }
  .block-header-right{
	position: absolute;
	right: 250px;
	top: 152px;
	a{
	  font-family: 'Open Sans Condensed', sans-serif;
	  font-size: 27px;
	  text-decoration: none;
	  color: black;
	}
  }

  .block-headerEmail{
	position: absolute;
	left: 450px;
	top: 20px;
  }
  .block-headerSlogan{
	position: absolute;
	top: 180px;
	font-style: italic;
	font-size: 25px;
  }
  .block-headerSearch{
	position: absolute;
	left: 450px;
	top: 50px;
	.form-search{
	  width: 250px;
	}
	.input-group .form-control:first-child{
	  border-radius: 4px;
	}
	.input-group-btn:last-child>.btn{
	  border-radius: 4px;
	}
	.input-group-btn{
	  left: 5px;
	}
  }
  .div-menu{
	margin-top: 232px;
	text-align: center;
	color: white;
	font-size: 19px;
	a{
	  color: white;
	  display: inline-block;
	  &:hover,
	  &:focus{
		font-weight: 600;
		transition: all .2s linear;
	  }
	}
	ul{
	  margin-bottom: 0;
	  li{
		padding: 9px 20px 9px;
		&.active{
		  font-weight: 600;
		  a{
			text-decoration: none;
		  }
		}
	  }
	}
	.moduleCart-menu{
	  border-left: 2px solid white;
	  padding-left: 27px;
	  img{
		margin-top: -5px;
		padding-right: 2px;
	  }
	}
  }
}

.icon-arrow-right-custom {
  background: url("/_assets/_front/_images/icons/icon_arrow_right.png") no-repeat 0 -5px transparent;
  width: 40px;
  height: 20px;
  display: block;
}