@import "font-awesome/font-awesame";
@import "style";
@import "plugins/datapicker/pickadate";
@import "plugins/chosen/chosen";
//@import "plugins/dropzone/dropzone";

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a9a9a9 !important;
  font-style: italic;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a9a9a9 !important;
  font-style: italic;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a9a9a9 !important;
  font-style: italic;
}

.show{
  display: block !important;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #29d;

  pointer-events: none;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.label-transparent{
  background-color: transparent;
  color: #5e5e5e;
}
.switch{
  display: inline-block;
  padding-bottom: 3px;
  width: 80px;
}
.switch_off{
  opacity: .7;
  &:hover,
  &:focus{
	opacity: 1;
	background-color: #c5c5c5;
  }
}
.edit_position_new input{
  width: 80px;
}
.ajax{
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted #0088cc;
  &:hover, &:focus{
	text-decoration: none;
	border-bottom: 1px dotted #005580;
  }
}
.ibox-title.ibox-title-block{
  height: auto;
  margin-bottom: 25px;
}
.mce-panel{
  border: 1px solid #e5e6e7 !important;
  background: rgb(241, 241, 241) !important;
}
.typeahead { z-index: 1051;}

#dropbox{
  background-color: rgb(247, 247, 247);
  padding: 21px 0 10px 0;
  width: 100%;
  cursor: pointer;
  > p{
	text-align: center;
	color: #808080;
  }
}
.upload-list-item{
  padding-bottom: 5px;
  font-size: 13px;
}
.highlighted {
  border: 4px solid gold !important;
}
.plug-title{
  padding-top: 10px;
  padding-right: 10px;
  display: inline-block;
}
.nav-tabs > li > a {
  padding: 10px 20px 10px 20px;
}
.mce-btn-small button,
.mce-menubar{
  background: #ffffff;
}
.ibox-content-top-border{
  border-top: #e7eaec solid 4px;
}
.valid_errors{
  a{
	display: block;
	background: red;
	color: #ffffff;
	padding: 5px 10px;
  }
}
.text-muted{
  a{
	color: #aeaeae !important;
  }
}

label{
  font-weight: 500;
  //font-size: 11px;
}

.date,
input[name=date]{
  background: url("/_admin/_images/icons/1412932708_calendar-16.png") no-repeat 10px center;
  padding-left: 34px;
}

.add-panel{
  margin-top: 15px;
}

.project-title small{
  font-weight: 500;
}

.all-width{
  max-width: 100%;
}

.pointer{
  cursor: pointer;
}
.active-bold, .active-bold a{
  font-weight: 600;
}
.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus{
  background-color: #293846;
}

.table-mail .mail-date {
  width: 100px;
}

//Bootpag pagination
.bootpag {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.bootpag>li {
  display: inline;
}
.bootpag>li:first-child>a, .bootpag>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.bootpag>.disabled>span, .bootpag>.disabled>span:hover, .bootpag>.disabled>span:focus, .bootpag>.disabled>a, .bootpag>.disabled>a:hover, .bootpag>.disabled>a:focus {
  cursor: pointer !important;
}
.bootpag>.disabled>span, .bootpag>.disabled>span:hover, .bootpag>.disabled>span:focus, .bootpag>.disabled>a, .bootpag>.disabled>a:hover, .bootpag>.disabled>a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.bootpag>li>a, .bootpag>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.mail-contact a{
  font-weight: 600;
}

.wizard-plugin{
  ul li{
	display: inline-block;
	width: 23%;
	background-color: #445d74;
	border-radius: 5px;
	&.current{
	  background-color: #6083a4;
	}
	a{
	  display: block;
	  margin: 10px;
	  color: #fff;
	  text-align: center;
	}
  }
}

.photo-catalog-row-low{
  height: 140px;
  img{
	max-height: 140px;
  }
}

.hidden-full, .alert-muted .hidden-done{
  display: none;
}
.alert-muted .hidden-full{
  display: block;
}
.small-full{
  min-height: 36px !important;
}
.project-list table .cart-info{
  cursor: pointer;
}
.cart.index .ibox-content{
  padding-bottom: 0;
}
.alert.alert-muted,
.alert.alert-muted *{
  color: #aeaeae;
}
.alert.alert-muted:hover *,
.alert.alert-muted:focus *,
.alert.alert-muted .btn{
  color: inherit;
}

.form-control.date[readonly]{
  cursor: pointer;
}

.table-import{
  h5, h6{
	font-weight: 500;
  }
}

.table-admin-catalog{
  .btn-danger {
	border-radius: 100px;
  }
}

.form-group_select_table_checkbox{
  label{
	padding-bottom: 10px;
  }
}
.form-group_feed_category_checkbox{
  label{
	padding-bottom: 10px;
  }
}

#dropbox2,
#dropbox{
  padding: 30px;
  border: 4px solid #D9EDF7;
  &.highlighted{

  }
}


/** NEW STYLES */
.table.table-striped{
  .form-control{
    padding: 3px 8px;
    height: 26px;
  }
}